<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hadaf CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />




    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/theme/images/favicon.ico">

    <!-- plugin css -->

    <link href="~/Content/theme/libs/jquery-vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <!-- App css -->
    
    <link href="~/Content/theme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/theme/css/app.min.css" rel="stylesheet" />





    <link href="~/Content/theme/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/theme/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/theme/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/theme/libs/datatables/select.bootstrap4.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">



   

</head>

<body>
   
    <!-- Navigation Bar-->
    <header id="topnav">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <ul class="list-unstyled topnav-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>

                    <li class="d-none d-sm-block">
                        <form class="app-search">
                            <div class="app-search-box">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit">
                                            <i class="lab la-searchengin"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>



                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="~/Content/theme/images/users/user-1.jpg" alt="user-image" class="rounded-circle">
                            <span class="pro-user-name ml-1">
                                @Session["full_name"] <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0">
                                    Welcome !
                                    <br />
                                    <br />
                                    @Session["company_name"]
                                </h5>
                            </div>
                            <div class="dropdown-divider"></div>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="las la-user-tie" style="font-size:24px;"></i>
                                <span>My Account</span>
                            </a>

                            <!-- item-->


                            <div class="dropdown-divider"></div>

                            <!-- item-->
                            <a href="/Login/Athentication/" class="dropdown-item notify-item">
                                <i class="las la-sign-out-alt" style="font-size:24px;"></i>

                                <span>Logout</span>

                            </a>

                        </div>
                    </li>



                </ul>

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="index.html" class="logo text-center">
                        <span class="logo-lg">

                            <img src=" @Session["Logo"]" alt="" height="26">

                            <!-- <span class="logo-lg-text-dark">Upvex</span> -->
                        </span>
                        <span class="logo-sm">
                            <!-- <span class="logo-sm-text-dark">X</span> -->
                            <img src="~/Content/theme/images/logo-sm.png" alt="" height="28">

                        </span>
                    </a>
                </div>

                <input type="hidden" value="@Session["Company_id"]">
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->

        <div class="topbar-menu">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">



                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-flask"></i>Contact<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Contact/Create">Contact</a> </li>
                                <li><a href="/Companies/Create">Companies</a></li>
                                <li><a href="/ComingSoon/Create">Activity Feed</a></li>
                            </ul>
                        </li>



                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-flask"></i>Conversation<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu">
                                @*<li><a href="/ComingSoon/Create">Accounts</a> </li>
                                    <li><a href="/ComingSoon/Create">Campaigns</a></li>
                                    <li><a href="/ComingSoon/Create">User Registration</a></li>
                                    <li><a href="/ComingSoon/Create">User Permission</a></li>
                                     <li><a href="/ComingSoon/Create">Documents</a></li>
                                     <li><a href="/ComingSoon/Create">Activity</a></li>*@
                            </ul>
                        </li>


                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-flask"></i>Marketing<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu">
                                @*<li><a href="/ComingSoon/Create">Accounts</a> </li>
                                                    <li><a href="/ComingSoon/Create">Campaigns</a></li>
                                                    <li><a href="/ComingSoon/Create">User Registration</a></li>
                                                    <li><a href="/ComingSoon/Create">User Permission</a></li>
                                    <li><a href="/ComingSoon/Create">Documents</a></li>
                                    <li><a href="/ComingSoon/Create">Activity</a></li>*@
                            </ul>
                        </li>


                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-flask"></i>Sales<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Deals/Create">Deals</a> </li>
                                @* <li><a href="/ComingSoon/Create">Campaigns</a></li>
                                                    <li><a href="/ComingSoon/Create">User Registration</a></li>
                                                    <li><a href="/ComingSoon/Create">User Permission</a></li>
                                    <li><a href="/ComingSoon/Create">Documents</a></li>
                                    <li><a href="/ComingSoon/Create">Activity</a></li>*@
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-flask"></i>Service<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu">
                                <li><a href="/Tickets/Create">Tickets</a> </li>
                                @*<li><a href="/ComingSoon/Create">Campaigns</a></li>
                                                    <li><a href="/ComingSoon/Create">User Registration</a></li>
                                                    <li><a href="/ComingSoon/Create">User Permission</a></li>
                                    <li><a href="/ComingSoon/Create">Documents</a></li>
                                    <li><a href="/ComingSoon/Create">Activity</a></li>*@
                            </ul>
                        </li>


                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-flask"></i>Automation<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu">
                                @*<li><a href="/ComingSoon/Create">Accounts</a> </li>
                                                    <li><a href="/ComingSoon/Create">Campaigns</a></li>
                                                    <li><a href="/ComingSoon/Create">User Registration</a></li>
                                                    <li><a href="/ComingSoon/Create">User Permission</a></li>
                                    <li><a href="/ComingSoon/Create">Documents</a></li>
                                    <li><a href="/ComingSoon/Create">Activity</a></li>*@
                            </ul>
                        </li>



                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-flask"></i>Reports<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu">
                                @*<li><a href="/ComingSoon/Create">Accounts</a> </li>
                                                    <li><a href="/ComingSoon/Create">Campaigns</a></li>
                                                    <li><a href="/ComingSoon/Create">User Registration</a></li>
                                                    <li><a href="/ComingSoon/Create">User Permission</a></li>
                                    <li><a href="/ComingSoon/Create">Documents</a></li>
                                    <li><a href="/ComingSoon/Create">Activity</a></li>*@
                            </ul>
                        </li>




                        @*<li class="has-submenu">
                                <a href="/Leads/Create">
                                    <i class="la la-clone"></i>Leads
                                </a>
                            </li>*@
                        @*<li class="has-submenu">
                                <a href="/Contact/Create">
                                    <i class="la la-briefcase"></i>Contact
                                </a>

                            </li>*@
                        @*<li class="has-submenu">
                                <a href="/Deals/Create">

                                    <i class="la la-diamond"></i>Deals
                                </a>

                            </li>*@

                        @*<li class="has-submenu">
                                <a href="#">
                                    <i class="la la-flask"></i>More <div class="arrow-down"></div>
                                </a>
                                <ul class="submenu">
                                    <li><a href="/ComingSoon/Create">Accounts</a> </li>
                                    <li><a href="/ComingSoon/Create">Campaigns</a></li>
                                    <li><a href="/ComingSoon/Create">User Registration</a></li>
                                    <li><a href="/ComingSoon/Create">User Permission</a></li>
                                    <li><a href="/ComingSoon/Create">Documents</a></li>
                                    <li><a href="/ComingSoon/Create">Activity</a></li>

                                </ul>
                            </li>*@

                        <li class="has-submenu">
                            <a href="#">
                                <i class="la la-cube"></i>Setting<div class="arrow-down"></div>
                            </a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href="/LifeCycleStage/Create">Life Cycle Stage</a></li>
                                        <li><a href="/TypesofLeadStatus/Create" onload="loadData()">Lead Status</a></li>
                                        <li><a href="/Typeofindustry/Create">Industry</a></li>
                                        <li><a href="/Typeofcompanies/Create">Company Type</a></li>
                                        @*<li><a href="/TypesofDeals/Create">Type of Deal</a></li>
                                            <li><a href="/Typeofindustry/Create">Type of Industry</a></li>
                                            <li><a href="/TypeofRating/Create">Type of Rating</a></li>*@

                                    </ul>
                                </li>
                                <li>
                                    <ul>

                                        <li><a href="/DealsPipelines/Create">Deals Pipelines</a></li>
                                        <li><a href="/TypesofDeals/Create">Deal Type</a></li>
                                        <li><a href="/Type_of_DealStage/Create">Deal Stage</a></li>
                                        <li><a href="/TicketStatus/Create">Ticket Status</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <ul>

                                        <li><a href="/TicketSource/Create">Ticket Source</a></li>
                                        <li><a href="/TypesofPriority/Create">Priority</a></li>
                                        <li><a href="/Typesof_ticketPipelines/Create">Tickets pipelines</a></li>



                                    </ul>
                                </li>
                                @* <li>
                                        <ul>


                                            <li><a href="/TypeofTitle/Create">Title</a></li>
                                            <li><a href="/UserType/Create">User Type</a></li>
                                            <li><a href="#">Priority</a></li>
                                            <li><a href="/State/Create/">State</a></li>
                                            <li><a href="/City/Create/">City</a></li>
                                        </ul>
                                    </li>*@

                            </ul>
                        </li>
                    </ul>
                    <!-- End navigation menu -->

                    <div class="clearfix"></div>
                </div>
                <!-- end #navigation -->
            </div>
            <!-- end container -->
        </div>
        <!-- end navbar-custom -->

    </header>
    <!-- End Navigation Bar-->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">
            <!-- start page title -->
            @RenderBody()
        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <!-- Footer Start -->
    @*<footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2020 &copy; CRM <a href=""></a>
                    </div>

                </div>
            </div>
        </footer>*@
    <!-- end Footer -->
    <!-- Right Sidebar -->
    <div class="right-bar">
        <div class="rightbar-title">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="mdi mdi-close"></i>
            </a>
            <h5 class="m-0 text-white">Settings</h5>
        </div>
        <div class="slimscroll-menu">
            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                    <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                </div>

                <h5><a href="javascript: void(0);">Marcia J. Melia</a> </h5>
                <p class="text-muted mb-0"><small>Product Owner</small></p>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />
            <div class="row">
                <div class="col-6 text-center">
                    <h4 class="mb-1 mt-0">8,504</h4>
                    <p class="m-0">Balance</p>
                </div>
                <div class="col-6 text-center">
                    <h4 class="mb-1 mt-0">8,504</h4>
                    <p class="m-0">Balance</p>
                </div>
            </div>
            <hr class="mb-0" />

            <div class="p-3">
                <div class="custom-control custom-switch mb-2">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1">Notifications</label>
                </div>
                <div class="custom-control custom-switch mb-2">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2">API Access</label>
                </div>
                <div class="custom-control custom-switch mb-2">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                    <label class="custom-control-label" for="customSwitch3">Auto Updates</label>
                </div>
                <div class="custom-control custom-switch mb-2">
                    <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                    <label class="custom-control-label" for="customSwitch4">Online Status</label>
                </div>
            </div>

            <!-- Timeline -->
            <hr class="mt-0" />
            <h5 class="pl-3 pr-3">Messages <span class="float-right badge badge-pill badge-danger">25</span></h5>
            <hr class="mb-0" />
            <div class="p-3">
                <div class="inbox-widget">
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-2.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Tomaslau</a></p>
                        <p class="inbox-item-text">I've finished it! See you so...</p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-3.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Stillnotdavid</a></p>
                        <p class="inbox-item-text">This theme is awesome!</p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-4.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Kurafire</a></p>
                        <p class="inbox-item-text">Nice to meet you</p>
                    </div>

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-5.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Shahedk</a></p>
                        <p class="inbox-item-text">Hey! there I'm available...</p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/user-6.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Adhamdannaway</a></p>
                        <p class="inbox-item-text">This theme is awesome!</p>
                    </div>
                </div> <!-- end inbox-widget -->
            </div> <!-- end .p-3-->

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <div id="preloader"></div>
    <!-- Vendor js -->
    <!-- Third Party js-->

    <script src="~/Content/theme/js/vendor.min.js"></script>
    <script src="~/Content/theme/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/Content/theme/libs/jquery-vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/theme/libs/jquery-vectormap/jquery-jvectormap-us-merc-en.js"></script>

    <!-- Dashboard init -->
    <script src="~/Content/theme/js/pages/datatables.init.js"></script>
    <script src="~/Content/theme/js/pages/dashboard-1.init.js"></script>

    <!-- App js-->
    <script src="~/Content/theme/js/app.min.js"></script>

    <script src="assets/js/vendor.min.js"></script>





    <script src="~/Content/theme/js/pages/form-validation.init.js"></script>
    <script src="~/Content/theme/libs/parsleyjs/parsley.min.js"></script>


    <script src="~/Content/theme/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/theme/libs/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/theme/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/theme/libs/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/theme/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/theme/libs/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/theme/libs/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/theme/libs/datatables/buttons.flash.min.js"></script>
    <script src="~/Content/theme/libs/datatables/buttons.print.min.js"></script>
    <script src="~/Content/theme/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Content/theme/libs/datatables/dataTables.select.min.js"></script>
    <script src="~/Content/theme/libs/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/theme/libs/pdfmake/vfs_fonts.js"></script>

    <!--Summer Notes-->



    <script src="~/Content/theme/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/Content/theme/js/pages/sweet-alerts.init.js"></script>




</body>
</html>